body {
    text-align: center;
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
    background-color: rgb(240, 240, 240);
}
ul,ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
}
a {
    text-decoration: none;
    color: black;
}
h1 {
    background-color: rgb(128, 128, 128);
    color: rgb(255, 255, 255);
}
img {
    width: 500px;
    height: auto;
}
p {
    font-size: 18px;
}
h3 {
    font-size: 26px;
    background-color: rgb(211, 211, 211);
    color: rgb(0, 0, 139);
}